body {
    background-color: white;
}
 
nav {
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
}
 
nav a {
    text-decoration: none;
    font-size: 30px;
    flex: 1;
    text-align: center;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    color: rgb(0, 0, 0);
}
 
nav a:hover {
    background-color: #1a1f5e;
    color: whitesmoke;
}
 
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 68px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
}
 


footer {
    margin-top: 80px;   
    
}
 
footer p {
    font-size: 14px;
    color: #888;
    padding: 0 20px;

    
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}